<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<content-index th:fragment="_content-index :: content-index">
<br/>
<nav>
  <div class="nav nav-tabs" id="nav-tab1" role="tablist">
    <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#" role="tab" aria-controls="nav-tab1" aria-selected="true">単票・一覧・検索・編集</a>
    <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#" role="tab" aria-controls="nav-tab2" aria-selected="false">コンファーム</a>
    <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#" role="tab" aria-controls="nav-tab3" aria-selected="false">キャッシュ</a>
    <a class="nav-item nav-link" id="nav-tab4" data-toggle="tab" href="#" role="tab" aria-controls="nav-tab4" aria-selected="false">機能・タブ４</a>

  </div>
</nav>

<br/>

<br/>
[tab1] Single Table デモソフト<br/>


<br/>
</content-index>

</body>
</html>