<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<content-index th:fragment="_content-index :: content-index">
<br/>
<nav>
  <div class="nav nav-tabs" id="nav-tab1" role="tablist">
    <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#" role="tab" aria-controls="nav-home" aria-selected="true">機能・タブ１</a>
    <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">機能・タブ２</a>
    <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">機能・タブ３</a>
    <a class="nav-item nav-link" id="nav-tab4" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">機能・タブ４</a>

  </div>
</nav>

<br/>

<br/>
デモソフト<br/>

旧のメニュー<br/>
左メニューの審査を選択してください。
<br/>
</content-index>

</body>
</html>