<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>

    <nav_item_tab>
    <br/>
        <nav>
          <div class="nav nav-tabs" id="nav-tab1" role="tablist">
<a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" th:href="@{'#'}" role="tab" aria-controls="nav-home" aria-selected="true">機能</a>
<a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" th:href="@{'#'}" role="tab" aria-controls="nav-profile" aria-selected="false">①機能</a>
<a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" th:href="@{'#'}" role="tab" aria-controls="nav-contact" aria-selected="false">②機能</a>
<a class="nav-item nav-link" id="nav-tab4" data-toggle="tab" th:href="@{'#'}" role="tab" aria-controls="nav-contact" aria-selected="false">③機能</a>
          </div>
          <br/>
        </nav>

    </nav_item_tab>

</body>
</html>